/*
 red: fa3877
 greenish: 38fabb
 blue: 3dc6fa
 yellow: ffcf49
*/
body {
    background: #F38BD3;
}

a, .greenish {
  color: #38fabb;
  text-decoration: none;
  font-weight: bold;
}

.meetup-logo {
  height: 48px;
}

.container {
    padding-top: 100px;
}

.body-content {
    background: #fff;
    padding: 20px 0 120px 0;
    position: relative;
    z-index: 0 !important;
}

.body-content > .container {
  padding-top: 0px;
}

.jumbotron {
  background: #FE7880;
  background-image: linear-gradient(#F38BD3, #FE7880);
  background: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/8/5/0/4/highres_99874052.jpeg);
  height: 850px;
  /*width: 100%;*/
  background-size:cover;
  z-index: 100 !important;
}

.jumbotron .jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(	250, 56, 119,.7);
    width: 100%;
    height: inherit;
}

.jumbotron > .container {
  position: relative;
  z-index: 99;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron div, .jumbotron strong {
    color: #fff;
}

.jumbotron sup {
  color:#eee;
}

.m-bottom {
    margin-bottom: 48px;
}

footer {
  background: #F38BD3;
  background-image: linear-gradient(#FE7880, #F38BD3);
  padding-bottom: 80px;
}

footer p {
  color: #fff;
}

button {
  height: 48px;
  width: 180px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  background: #fff;
  color: #FE7880;
}

button:active {
  outline: none;
}

.twttr-blue {
  color:#55acee;
}

@media only screen and (min-width: 720px) {
  .jumbotron {
    height: 600px;
  }
}
td{ padding:5px; vertical-align: top;}
td img{ border-radius:8px; max-height:100px}
td p{ margin:0px; }
/*tr:nth-child(even) {background: #999}
tr:nth-child(odd) {background: #888}*/
